@model AesophWorks.ViewModels.ItemActionViewModel

@if (Model != null)
{

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                @if (Model.ID != 0)
                {
                    <span>Edit Adirondack Chair</span>
                }
                else
                {
                    <span>Save Adirondack Chair</span>
                }
            </h2>
            <hr />




            <form id="actionForm">
                <input type="hidden" id="ID" name="ID" value="@Model.ID" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Adirondack Chair</label>
                            <input required class="form-control" id="Name" value="@Model.Name" name="Name" placeholder="Enter Name">
                        </div>

                        <div class="form-group col-md-5">
                            <label class="col-sm-3">Font</label>
                            <input required class="form-control" id="Font" value="@Model.Font" name="Font" placeholder="Enter Font">


                        </div>
                    </div>
                </div>

                <div class="form-group col-md-5">
                    <label class="col-sm-3">Customization</label>
                    <input required class="form-control" id="Customization" value="@Model.Customization" name="Customization" placeholder="Enter Customization">

                </div>



                




                <br />
                @if (Model.ID != 0)
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary"><i class="fas fa-save mr-1"></i> Update</button>
                }
                else
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary "><i class="fas fa-save mr-1"></i> Save</button>
                }
                <a href="@Url.Action("AdirondackChairs","Item")" class="btn btn-outline-danger"> CANCEL</a>
            </form>
        </div>
    </div>






    <div class="errorDiv">

    </div>

}


<script>
    $("#actionButton").click(function () {
		$.ajax({
			url: '@Url.Action("Action", "AdirondackChair")',
			type: "post",
			data: $("#actionForm").serialize()
		})
		.done(function () {

            window.location.href = "@Url.Action("AdirondackChairs","Item")";

		});
	});
</script>
