@model AesophWorks.ViewModels.CuttingBoardActionViewModel

@if (Model != null)
{

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                @if (Model.ID != 0)
                {
                    <span>Edit Cutting Board</span>
                }
                else
                {
                    <span>Save Cutting Board</span>
                }
            </h2>
            <hr />


        

            <form id="actionForm">
                <input type="hidden" id="ID" name="ID" value="@Model.ID" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-5">
                            <label class="col-sm-12"></label>
                            <input required class="form-control" id="Name" value="@Model.Name" name="Name" placeholder="Enter Name">
                        </div>

                        <div class="form-group col-md-5">
                            <label class="col-sm-3">Juice Groove</label>
                            @if (Model.ID != 0)
                            {
                                <select id="JuiceGroove" class="select2 form-select shadow-none select2-hidden-accessible" name="JuiceGroove">
                                    @if (Model.JuiceGroove == true)
                                    {
                                        <option selected value="true">Yes</option>
                                        <option value="false">No</option>
                                    }
                                    else
                                    {
                                        <option value="true">Yes</option>
                                        <option selected value="false">No</option>
                                    }
                                </select>
                            }
                            else
                            {
                                <select id="JuiceGroove" class="select2 form-select shadow-none select2-hidden-accessible" name="JuiceGroove">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>

                                </select>
                            }
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-5">
                    <label class="col-sm-3">Finger Groove</label>
                    @if (Model.ID != 0)
                    {
                        <select id="FingerGroove" class="select2 form-select shadow-none select2-hidden-accessible" name="FingerGroove">
                            @if (Model.FingerGroove == true)
                            {
                                <option selected value="true">Yes</option>
                                <option value="false">No</option>
                            }
                            else
                            {
                                <option value="true">Yes</option>
                                <option selected value="false">No</option>
                            }
                        </select>
                    }
                    else
                    {
                        <select id="FingerGroove" class="select2 form-select shadow-none select2-hidden-accessible" name="FingerGroove">
                            <option value="true">Yes</option>
                            <option value="false">No</option>

                        </select>
                    }
                </div>



                <div class="form-group col-md-5">
                    <label class="col-sm-3">Type of Cutting Board</label>
                    @if (Model.ID != 0)
                    {
                        <select id="TypeofCuttingBoard" class="select2 form-select shadow-none select2-hidden-accessible" name="TypeOfCuttingBoard">
                            @if (Model.TypeOfCuttingBoard == "Edge Grain")
                            {
                                <option selected value="Edge Grain">Edge Grain</option>
                                <option value="EndGrain">End Grain</option>
                            }
                            else
                            {
                                <option value="Edge Grain">Edge Grain</option>
                                <option selected value="EndGrain">End Grain</option>
                            }
                        </select>
                    }
                    else
                    {
                        <select id="TypeofCuttingBoard" class="select2 form-select shadow-none select2-hidden-accessible" name="TypeofCuttingBoard">
                            <option value="Edge Grain">Edge Grain</option>
                            <option value="End Grain">End Grain</option>

                        </select>
                    }
                </div>




                <br />
                @if (Model.ID != 0)
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary"><i class="fas fa-save mr-1"></i> Update</button>
                }
                else
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary "><i class="fas fa-save mr-1"></i> Save</button>
                }
                <a href="@Url.Action("CuttingBoard","Item")" class="btn btn-outline-danger"> CANCEL</a>
            </form>
        </div>
    </div>






    <div class="errorDiv">

    </div>

}


<script>
    $("#actionButton").click(function () {
		$.ajax({
			url: '@Url.Action("Action", "CuttingBoard")',
			type: "post",
			data: $("#actionForm").serialize()
		})
		.done(function () {
			
            window.location.href = "@Url.Action("CuttingBoard","Item")";
			
		});
	});
</script>
