@model AesophWorks.ViewModels.KniveListingViewModel

@{
    ViewBag.Title = "_KniveListing";
}
<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        @if (Model.Knives.Count() != 0)
        {
            <div class="card">

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>

                                <th>
                                    Name
                                </th>
                                <th>
                                    Type of Knives
                                </th>
                                <th>
                                   Type Of Knives Order
                                </th>
                                <th>
                                    Gift Box
                                </th>
                                <th>
                                    Handles
                                </th>

                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Knives)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.TypeOfKnives</td>
                                    <td>@item.TypeOfKnivesOrder</td>
                                    <td>@item.GiftBox</td>
                                    <td>@item.Handles</td>

                                    <td>
                                        <button data-id="@item.ID" type="button" class="btnEdit btn btn-info btn-icon-text"><i class="mdi mdi-pencil"></i> EDIT</button>
                                        <a href="@Url.Action("Delete", "Knive", new { ID = item.ID })" type="button" class="data-btn btn btn-danger btn-icon-text"><i class="mdi mdi-delete"></i>DELETE</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {

            <div class="alert alert-warning col-md-12" role="alert">
                Sorry! No records exist.
            </div>
        }
    </div>
</div>

<script>
    $(".btnEdit").click(function () {
        $.ajax({
            url: '@Url.Action("Action", "Knive")',
            type: "GET",
            data: {ID: $(this).attr("data-id") }
        })
            .done(function (oData) {
                $("#actionContainer").html(oData);
            })
            .error(function (error) {
                alert(error);
            })
    })



</script>
