@model AesophWorks.ViewModels.ItemListingViewModel
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0">Items</h4>
                <hr />
                <div class="row">
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-cyan text-center">
                                <a href="@Url.Action("Dashboard","Admin")">

                                    <h1 class="font-light text-white">
                                        <i class="mdi mdi-view-dashboard"></i>
                                    </h1>
                                    <h6 class="text-white">Dashboard</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-success text-center">
                                <a href="@Url.Action("CuttingBoard","Item")">

                                    <h1 class="font-light text-white">
                                        <i class="mdi mdi-chart-areaspline"></i>
                                    </h1>
                                    <h6 class="text-white">Cutting Board</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-success text-center">
                                <a href="@Url.Action("ServingTrays","Item")">

                                    <h1 class="font-light text-white">
                                        <i class="mdi mdi-chart-areaspline"></i>
                                    </h1>
                                    <h6 class="text-white">Serving Trays</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-dark text-center">
                                <a href="@Url.Action("ChautericeBoard","Item")">

                                    <h1 class="font-light text-white">
                                        <i class="mdi mdi-chart-areaspline"></i>
                                    </h1>
                                    <h6 class="text-white">Chauterice Board</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-info text-center">
                                <a href="@Url.Action("Ornaments","Item")">

                                    <h1 class="font-light text-white">
                                        <i class="mdi mdi-chart-areaspline"></i>
                                    </h1>
                                    <h6 class="text-white">Ornaments</h6>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-info text-center">
                                <a href="@Url.Action("WeddingFavors","Item")">

                                    <h1 class="font-light text-white">
                                        <i class="mdi mdi-chart-areaspline"></i>
                                    </h1>
                                    <h6 class="text-white">Wedding Favors</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-dark text-center">
                                <a href="@Url.Action("Coasters","Item")">

                                    <h1 class="font-light text-white">
                                        <i class="mdi mdi-chart-areaspline"></i>
                                    </h1>
                                    <h6 class="text-white">Coasters</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-orange text-center">
                                <a href="@Url.Action("AdirondackChairs","Item")">

                                    <h1 class="font-light text-white">
                                        <i class="mdi mdi-chart-areaspline"></i>
                                    </h1>
                                    <h6 class="text-white">Adirondack Chairs</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-danger text-center">
                                <a href="@Url.Action("CNCEngraving","Item")">

                                    <h1 class="font-light text-white">
                                        <i class="mdi mdi-chart-areaspline"></i>
                                    </h1>
                                    <h6 class="text-white">CNC Engraving</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-info text-center">
                                <a href="@Url.Action("Knives","Item")">

                                    <h1 class="font-light text-white">
                                        <i class="mdi mdi-chart-areaspline"></i>
                                    </h1>
                                    <h6 class="text-white">Knives</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Column -->
       
        <!-- Column -->

    </div>
</div>