@model AesophWorks.ViewModels.WeddingFavorActionViewModel

@if (Model != null)
{

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                @if (Model.ID != 0)
                {
                    <span>Edit Wedding Favor</span>
                }
                else
                {
                    <span>Save Wedding Favor</span>
                }
            </h2>
            <hr />




            <form id="actionForm">
                <input type="hidden" id="ID" name="ID" value="@Model.ID" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Wedding Favor</label>
                            <input required class="form-control" id="Name" value="@Model.Name" name="Name" placeholder="Enter Name">
                        </div>

                        <div class="form-group col-md-5">
                            <label class="col-sm-3">Type of Wedding Favor</label>
                            <input required class="form-control" id="TypeOfWeddingFavor" value="@Model.TypeOfWeddingFavor" name="TypeOfWeddingFavor" placeholder="Enter Type Of Wedding Favors">

                        </div>
                    </div>
                </div>

                <div class="form-group col-md-5">
                    <label class="col-sm-3">Handles</label>
                    @if (Model.ID != 0)
                    {
                        <select id="Handles" class="select2 form-select shadow-none select2-hidden-accessible" name="Handles">
                            @if (Model.Handles == true)
                            {
                                <option selected value="true">Yes</option>
                                <option value="false">No</option>
                            }
                            else
                            {
                                <option value="true">Yes</option>
                                <option selected value="false">No</option>
                            }
                        </select>
                    }
                    else
                    {
                        <select id="Handles" class="select2 form-select shadow-none select2-hidden-accessible" name="Handles">
                            <option value="true">Yes</option>
                            <option value="false">No</option>

                        </select>
                    }

                </div>
   

                <br />
                @if (Model.ID != 0)
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary"><i class="fas fa-save mr-1"></i> Update</button>
                }
                else
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary "><i class="fas fa-save mr-1"></i> Save</button>
                }
                <a href="@Url.Action("WeddingFavors","Item")" class="btn btn-outline-danger"> CANCEL</a>
            </form>
        </div>
    </div>






    <div class="errorDiv">

    </div>

}


<script>
    $("#actionButton").click(function () {
		$.ajax({
			url: '@Url.Action("Action", "WeddingFavor")',
			type: "post",
			data: $("#actionForm").serialize()
		})
		.done(function () {

            window.location.href = "@Url.Action("WeddingFavors","Item")";

		});
	});
</script>
