@model AesophWorks.ViewModels.MakeOrderViewModel
@{
    ViewBag.Title = "MakeOrder";
}
<head>
    <link href="~/Content/theme/assets/libs/jquery-steps/jquery.steps.css"
          rel="stylesheet" />
    <link href="~/Content/theme/assets/libs/jquery-steps/steps.css" rel="stylesheet" />
    <link href="~/Content/theme/dist/css/style.min.css" rel="stylesheet" />
</head>


<div class="card">
    
    <div class="card-body">
        <h2 class="card-title">Make Order</h2>

        <hr />

      

        <div class="row mb-3">
            <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                    <div class="box bg-cyan text-center">
                        <a href="@Url.Action("Dashboard","User")">

                            <h1 class="font-light text-white">
                                <i class="mdi mdi-keyboard-return"></i>
                            </h1>
                            <h6 class="text-white">Back to Dashboard</h6>
                        </a>
                    </div>
                </div>
                <span>Total</span><input style="font-size:25px;" disabled type="text" id="totalsection" />

            </div>


        </div>

        <div id="detailsSection">
            <form id="example-form" class="mt-5">
                <div>
                    <h3>Select Product</h3>
                    <input type="hidden" name="ID" id="ID" value="@Model.ID" />
                    <section>
                        <label for="product">Select Product</label>
                        <select id="Product" onchange="GetData()" class="select2 form-select shadow-none select2-hidden-accessible" name="Product">
                            @foreach (var item in Model.Items)
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                        </select>


                    </section>



                </div>
            </form>
        </div>

    </div>
</div>



<script src="~/Content/theme/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/Content/theme/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/Content/theme/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/Content/theme/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="~/Content/theme/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/Content/theme/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/Content/theme/dist/js/custom.min.js"></script>
<!-- this page js -->
<script src="~/Content/theme/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
<script src="~/Content/theme/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script>
// Basic Example with form
      var form = $("#example-form");
      form.validate({
        errorPlacement: function errorPlacement(error, element) {
          element.before(error);
        },
      });
      form.children("div").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        onStepChanging: function (event, currentIndex, newIndex) {
          form.validate().settings.ignore = ":disabled,:hidden";
          return form.valid();
        },
        onFinishing: function (event, currentIndex) {
          form.validate().settings.ignore = ":disabled";
          return form.valid();
        },
        onFinished: function (event, currentIndex) {
          alert("Submitted!");
        },
      });




    function GetData() {
        $.get("@Url.Action("GetData","User")", {
            Product: $('#Product').find(":selected").val(),
            ID: $('#ID').val()

        }, function (data) {
            $("#detailsSection").html(data);
        });
    
    }


    $(document).ready(function () {
        GetData();
        GetTotal();
    });




    function GetTotal() {
        $.get("@Url.Action("GetTotal","User")", {
            Product: $('#Product').find(":selected").val(),
            WoodType: $('#WoodType').find(":selected").val(),
            Size: $('#Size').find(":selected").val(),
            Accent: $('#Accent').find(":selected").val(),
            CutterButter: $('#CutterButter').find(":selected").val()


        }, function (data) {
            $("#totalsection").html(data);
        });
    }
</script>